.cedtag ul {
    margin: 0;
    padding: 0;
    display: inline;
}

.cedtag li {
    list-style-type: none;
    display: inline;
}

.cedtag a {
    color: #19558D;
    padding: 0 0.4em;
    line-height: 1.5em;
    background-color: #DFEAF4;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.edit-mode a {
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.cedtag {
    margin: 0 3px 3px 0;
    float: left;
}


